body {
  font-family: 'nunito';
  color: white;
  background-image: url(./assets/black.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#background {
  width: 100%; 
  height: auto;
  position: absolute;
  left: 0px; 
  top: 0px; 
  z-index: -1; 
}

.stretch {
  width:100%;
  height:auto;
}

.body_Grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0px;
  width: 45vw; 
  height: 15vw;
  position: absolute;
  left: 7vw;
  top: 15vw;
  z-index: 2;
}

.welcome-section {
  grid-column: 1; 
  grid-row: 1;
  font-size: 1.5vw;
  z-index: 2;
}  

.text_Box {
  grid-column: 1; 
  grid-row: 2;
  z-index: 2;
}  

.submit_Button {
  grid-column: 1;
  grid-row: 3;
  z-index: 2;
}  

#number {
  display: block; 
  width: 35vw;
  height: 2vw;
  text-align: center;
  background-color: transparent;
  color: white;
  padding: 0.25rem 0.75rem;
  border-top: 2px solid #404040;
  border-bottom: 2px solid #404040;
  border-right: none;
  border-left: none;
  outline: none;
}

#convert-btn {
  display: block; 
  width: 36.5vw;
  height: 3vw;
  margin-top: 1vw;
  font-size: 1.5vw;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  background: #00aced;
  box-shadow:  0 0 5px #00aced,  0 0 8px #00aced;
  padding: 0;
  border: none;
  z-index: 2;
  -webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

#convert-btn:hover{
  background-color: transparent;
  color: #00aced;
  box-shadow: 5px 5px 5px 5px #00aced;
}

.romanResult {
  width: 45vw; 
  height: 40vw;
  position: absolute;
  left: 50vw;
  top: 2vw;
 }

#output {
  width: 100%;
  height: auto; 
  margin-top: 17vw;
  text-align: center;
  font-size: 5vw;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 5px;
  line-height: 0.8;
  color: white;
  z-index: 2;
}
